body
{
background-color: powderblue;
text-align: center;
}

h1, h2, h3
{
color: blue;
font-size: 40px;
text-align: center;
}
  
p
{
color: rgb(255, 255, 255);
font-size: 40px;
text-align: center;
}

table, th, td
{
text-align: center;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
border-radius: 10px;    
}

.img-area
{
width: 200px;
height: 200px;
border-radius:50%;
overflow: hidden;
margin: 25px auto;
border: 15px groove deepskyblue;
}

.center
{
margin-left: auto; margin-right: auto; border: 1px solid;
}
  
ul, ol, li
{
justify-content: center;
list-style-position: inside;
}

details
{
background-color: #2e2e2e;
border-radius: 8px;
margin-bottom: 10px;
padding: 5px 10px;
width: 100%;
max-width: 600px;
cursor: pointer;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
overflow: hidden;
justify-content: center;
list-style-position: inside;
place-items: center;
text-align: center;
}

summary:hover
{color: blue;}

  /*To display the table border it needs to be - solid color and have the key word border-collapse: collapse; */

