body {
    background-color: powderblue;
    text-align: center;
  }
  h1 {
    color: blue;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    color:blueviolet;
    font-size: 40px;
    text-align: center;
  }
  h3 {
    color: goldenrod;
    font-size: 40px;
    text-align: center;
  }
  p {
    color: red;
    font-size: 40px;
    text-align: center;
  }

  table, th, td {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
  }

.center {
            margin-left: auto; margin-right: auto; border: 1px solid;
 
}
  
ul, ol, li {
justify-content: center;
list-style-position: inside;
        }

  /*To display the table border it needs to be - solid color and have the key word border-collapse: collapse; */

